name: Check Merge Conflicts

on:
  push:
  pull_request_target:
    types: [synchronize]

permissions:
  contents: read
  pull-requests: write

jobs:
  check-merge-conflicts:
    name: Check Merge Conflicts
    runs-on: ubuntu-latest

    steps:
      - name: Check Merge Conflicts
        uses: eps1lon/actions-label-merge-conflict@v3.0.3
        with:
          dirtyLabel: 'Merge Conflicts'
          repoToken: ${{ github.token }}
          commentOnDirty: >
            This PR has conflicts that need to be resolved before it can be merged.
